<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.togglecorp.alphalauncher">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".HomeActivity"
            android:label="Alpha Launcher"
            android:theme="@style/HomeTheme"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".AppsListActivity"
            android:theme="@style/AppsListTheme">
        </activity>
    </application>

</manifest>
